---
import Nav from "../components/Nav.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Thiago Pereira">
  <Nav />
    <section class="container" aria-label="About Me">
        <span>Hi,</span>
        <object
          data="/assets/wave_hand.svg"
          width="32"
          name="waveHand"
          aria-label="Hi">
        </object>

      <div class="details" aria-label="Details">
        <img
          src="/assets/thiago.jpg"
          alt="thiago"
          decoding="async"
          loading="lazy"
          width="300"
          height="400"
        />
        <div>
        <h1>
          I'm Thiago Pereira
        </h1>
        <h2>Senior Front-end Enginner,</h2>
        <h2>based in Lisbon.</h2>
        </div>
        </div>
    </div>

  <main class="wrapper">

    <div class="grid">
      <h3>About Me</h3>
      <p>
        I started my career in 2018 as a Front-end Developer coming from the Telecom area where my last position was in one of the largest 
        beverage delivery applications in Brazil which was an innovation arm of the largest Brazilian brewery (AmBev). 
        In my career, I have worked in several cross-functional teams with Agile methodologies where my main activities were monitoring, 
        maintenance, and technical refinement for other developers. I also like to share my knowledge with the team by creating good documentation 
        and I am very motivated by innovation and sustainability. 
      </p>
      <div class="projects">
        <h3>Mobile Projects</h3>
        <div class="screens-projects">
          <picture>
            <img
              src="/assets/zeapp.webp"
              alt="ze"
              decoding="async"
              loading="lazy"
            />
          </picture>
          <p>+3 millions  monthly customers</p>
          <picture>
            <img
              src="/assets/zecourirer.webp"
              alt="ze"
              decoding="async"
              loading="lazy"
            />
          </picture>
          <p>+60 thousand monthly couriers</p>
        </div>
      </div>
    </div>
    <Footer />
  </main>
</MainLayout>

<style>
  .container {
    margin: 1rem 0;
    span {
      color: var(--c-white);
      font-size: var(--f-u3);
      font-weight: 500;
      text-align: left;
      margin:0;
    }
  }
  .details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 100vmax;
      height: 430px;
      width: min(300px, 100%);
      box-shadow: 0 0 0 0.2px var(--c-black);
      object-fit: cover;
      object-position: center;
      margin: 0 2rem;
    }
  }

  h1 {
    color: var(--c-lgray); 
    font-size: var(--f-u6);
    font-weight: 900;
    text-align: left;
    line-height: 80px;
    margin:0;
  }

  h2 {
    color: var(--c-white); 
    font-size: var(--f-u3);
    font-weight: 500;
    text-align: left;
    padding: 0.2rem 0;
    margin:0;
  }

  h3 {
    color: var(--c-white); 
    font-size: var(--f-u3);
    font-weight: 500;
    text-align: left;
    margin: 2rem 0;
  }


  span {
    color: var(--c-white);
  }
  p {
    color: var(--c-white);
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 1rem 1rem;
    height: 20ch;
  }
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .details{
      img {
        border-radius: 100vmax;
        height: 370px;
        width: min(250px, 100%);
        box-shadow: 0 0 0 0.2px var(--c-black);
        object-fit: cover;
        object-position: center;
        margin: auto;
      }
    }
  } 

  .screens-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    h3 {
      margin-bottom: 1rem;
    }
  }

  .screens-projects p {
    color: var(--c-white);
    font-size: 0.80em;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    align-self: center;
  }
</style>
