---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thiago Pereira">
	<main>

		<h1>Thiago Pereira <br/><span class="text-gradient">Front-end Enginner</span></h1>
		<p>He / him</p>
		<p class="about">
			Passionate about car racing, and a good weissbier 🍺 ! 
			<br/>
			Gamer in free time and react and rust enthusiast. 
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.about {
		line-height: 1.6;
		margin: 2rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 2rem;
		border-radius: 0.4rem;
	}
	.about code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.about strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
