---
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Thiago Pereira">
  <Nav />
  <header>
    <div class="title">
      <div class="greetings">
        <span>Hi,</span><object
          data="/assets/wave_hand.svg"
          width="32"
          name="waveHand"
          aria-label="Hi"></object>
      </div>
      <h1>
        I'm Thiago Pereira <br />
      </h1>
      <h2 class="text-gradient">Senior Front-end Enginner</h2>
    </div>
  </header>

  <main class="wrapper">
    <div class="grid">

      <div class="skills">
        <h3>Skills</h3>
        <p>React</p>
        <div class="lineReact"/>
        <p>React Native</p>
        <div class="lineReactNative"/>
        <p>Typescript</p>
        <div class="lineTypescript"/>
        <p>Javascript</p>
        <div class="lineJavascript"/>
        <p>Rust</p>
        <div class="lineRust"/>
      </div>

      <Card 
      isGreen
      isAboutMe
      title="About Me" 
      />

      <Card 
      isGreen={false}
      isAboutMe={false}
      title="Last Articles" 
      />

      <div class="projects">
        <h3>Projects</h3>
        <div class="screens-projects">
          <picture>
            <img
              src="/assets/zeapp.webp"
              alt="ze"
              decoding="async"
              loading="lazy"
            />
          </picture>
          <p>2.75 millions  monthly customers</p>
          <picture>
            <img
              src="/assets/zecourirer.webp"
              alt="ze"
              decoding="async"
              loading="lazy"
            />
          </picture>
          <p>+60 thousand monthly couriers</p>
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>

<style>
  span {
    font-size: var(--f-u3);
    font-weight: 500;
    color: var(--c-white);
    margin-right: 0.5rem;
  }
  img {
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
    margin: 0rem 0.6rem;
  }
  header {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 5rem;
    justify-content: center;
    width: 100%;
  }
  p {
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: Montserrat;
  }
  .greetings {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
  @media (min-width: 900px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 350%;
    background-position: 0%;
  }
  .skills {
    line-height: 1.6;
    padding: 1rem 0.5rem;
    height: 30ch;
    border-radius: 0.5rem;
    font-size: large;
  }
  .skills > div {
    margin-top: 0.33rem;
    margin-bottom: .66rem;
    border-bottom: 1px solid var(--c-white)
  }
  .lineReact {
    width: 90%;
  }
  .lineReactNative {
    width: 85%;

  }
  .lineTypescript {
    width: 80%;
  }
  .lineJavascript {
    width: 80%;
  }
  .lineRust {
    width: 25%;
  }
  .skills p {
    color: var(--c-white);
    margin: 0;
  }
  .projects {
    line-height: 1.6;
    padding: 1rem 0.5rem;
    height: 30ch;
    border-radius: 0.5rem;
    font-size: large;
  }
  .screens-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .screens-projects p {
    color: var(--c-white);
    font-size: 0.75em;
    margin-top: 2rem;
    margin-bottom: 0;
  }
</style>
