---
export interface Props {
  title: string;
  isGreen: boolean;
  isAboutMe: boolean;
}

const { title, isAboutMe, isGreen } = Astro.props;
---

<div class:list={['purpleCard', { greenCard: isGreen }]}>
  <h3>
    {title}
  </h3>

  {isAboutMe 
    ? 
      (
        <div>
        <p>Passionate about car racing, and a good weissbier! 🍺</p>
        <p>Tutor of a 2 year old kitten called Luke</p>
        <p>Gamer in free time and react ⚛️ and rust 🦀 enthusiast.</p>
      </div>
      ) 
    : 
      (
        <p>How was my experience build this personal site with Astro 2.0 (working in progress)</p>
        <div class="divisor" />
        <p>Why I think that react native is better than Flutter (working in progress)</p>
      )
  }

</div>

<style>
  p {
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: Montserrat;
  }
.purpleCard {
    line-height: 1.6;
    background-color: rgb(84 43 236 / 90%); 
    height: 28ch;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
  }
  .greenCard {
    background-color:rgb(214 243 31 / 90%);
  }
  .greenCard h3 {
    color: black;
  }
  .greenCard p {
    color: black;
  }
  .divisor {
    width: 100%;
    margin-top: 1.33rem;
    margin-bottom: 1.33rem;
    border-bottom: 1px solid var(--c-white)
  }
</style>
